@import "variables";

.lessons-blocks-list-con {
  width: 90.7%;
  padding: 40px 4.65%;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 100px;
    height: 50px;
    background: var(--background-color);
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    border-radius: 40px;
    transition: 0.3s;
  }

  input:checked + label {
    background: var(--background-color);
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 60px;
  }
}

.class-subject-box {
  flex-grow: 1;
  background-color: var(--primary-color);
  margin: 7px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 21px;
  cursor: pointer;

  @media screen and (max-width: 480px) {
    margin: 5px;
    padding: 16px 20px;
  }
}

.class-switch-box {
  flex-grow: 1;
  background-color: var(--secondary-color);
  margin: 7px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 60px 31px;

  @media screen and (max-width: 480px) {
    margin: 5px;
    padding: 40px 15px;
  }
}

.class-tall-info-box {
  flex-grow: 1;
  margin: 7px;
  background-color: var(--secondary-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 48px 5px;
  color: var(--background-color);
  font-size: $regular-font-size;

  @media screen and (max-width: 480px) {
    margin: 5px;
    padding: 35px 5px;
  }
}

.class-tall-info-section-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 9px;
}

.class-counter-box {
  flex-grow: 1;
  background-color: var(--secondary-color);
  margin: 7px;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 85px 81px;

  @media screen and (max-width: 480px) {
    margin: 5px;
    padding: 65px 65px;
  }
}

.class-counter-box-number {
  position: absolute;
  color: var(--background-color);
  font-size: $h2-font-size;
  top: 25%;
  @media screen and (max-width: 480px) {
    top: 16%;
  }
}

.class-like-box {
  flex-grow: 1;
  background-color: var(--secondary-color);
  margin: 7px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 25px 31px;

  @media screen and (max-width: 480px) {
    margin: 5px;
    padding: 15px 25px;
  }
}

.class-kred-box {
  flex-grow: 1;
  background-color: var(--secondary-color);
  margin: 7px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 45px 41px;

  @media screen and (max-width: 480px) {
    margin: 5px;
    padding: 30px 30px;
  }
}

.class-subject-svg {
  width: 120px;
  height: 120px;
  filter: invert(1);

  @media screen and (max-width: 480px) {
    width: 90px;
    height: 90px;
  }
}

.class-like-svg {
  width: 100px;
  height: 100px;
  fill: var(--background-color);
  margin-bottom: 20px;

  @media screen and (max-width: 480px) {
    width: 80px;
    height: 80px;
  }
}

.class-comment-svg {
  width: 100px;
  height: 100px;
  fill: var(--background-color);
  stroke: var(--background-color);
  margin-bottom: 20px;

  @media screen and (max-width: 480px) {
    width: 80px;
    height: 80px;
  }
}

.class-kred-svg {
  width: 80px;
  height: 80px;
  fill: var(--background-color);

  @media screen and (max-width: 480px) {
    width: 70px;
    height: 70px;
  }
}

.class-info-svg {
  width: 35px;
  height: 35px;
  fill: var(--background-color);
  margin: 10px 0;

  @media screen and (max-width: 480px) {
    width: 30px;
    height: 30px;
  }
}

.class-subject-text {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: $regular-font-size;
  color: var(--background-color);
  @media screen and (max-width: 480px) {
    bottom: 2px;
    right: 5px;
    font-size: $really-small-font;
  }
}

.class-switch-right-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $regular-font-size;
  transform: translateX(26px) translateY(15px);
  color: var(--primary-color);
  transition-duration: $normal-animation-duration;
  cursor: pointer;

  &.selected {
    color: var(--background-color);
    transition-duration: $normal-animation-duration;
  }
}

.class-switch-left-text {
  font-size: $regular-font-size;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-26px) translateY(15px);
  color: var(--background-color);
  transition-duration: $normal-animation-duration;
  cursor: pointer;

  &.selected {
    color: var(--primary-color);
    transition-duration: $normal-animation-duration;
  }
}

.error-text {
  color: var(--error-color);
  font-size: $title-font-size;
}

.class-item-page-container {
  padding: $header-size 5% 0 5%;
  background-color: var(--light-color);
  min-height: calc(100vh - 81px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.class-single-item-container {
  position: relative;
  width: 70%;
  height: 180px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 25px;
  color: var(--background-color);
  font-size: $menu-title-font-size;
  margin-top: 150px;

  @media screen and (max-width: 480px) {
    margin-top: 100px;
    display: block;
    padding-top: 80px;
    height: 450px;
  }
}

.class-single-item-title {
  position: absolute;
  top: 130px;
  width: calc(100% - 50px);
  text-align: center;
  font-size: $enormous-title-font-size;
  @media screen and (max-width: 480px) {
    top: 455px;
    border-top: 2px solid var(--background-color);
    padding-top: 25px;
    font-size: 28px;
  }
}

.class-single-item-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-size: $home-title-font-size;
  width: 35%;

  svg {
    margin-left: 50px;
    @media screen and (max-width: 480px) {
      margin: 0;
    }
  }

  @media screen and (max-width: 1280px) {
    font-size: $menu-title-font-size;
  }

  @media screen and (max-width: 1000px) {
    font-size: $title-font-size;
  }

  @media screen and (max-width: 480px) {
    font-size: $home-title-font-size;
    width: 100%;
  }
}

.class-single-item-left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  font-size: $home-title-font-size;
  width: 35%;

  svg {
    margin-right: 50px;
    @media screen and (max-width: 480px) {
      margin: 0;
    }
  }

  @media screen and (max-width: 1280px) {
    font-size: $menu-title-font-size;
  }

  @media screen and (max-width: 1000px) {
    font-size: $title-font-size;
  }

  @media screen and (max-width: 480px) {
    font-size: $home-title-font-size;
    align-items: flex-start;
    width: 100%;
  }
}

.class-single-item-option-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 300px;

  @media screen and (max-width: 1360px) {
    width: 250px;
  }

  @media screen and (max-width: 1280px) {
    width: 200px;
  }

  @media screen and (max-width: 1000px) {
    width: 150px;
  }

  @media screen and (max-width: 480px) {
    width: calc(100% - 25px);
    margin: 15px 10px;
  }
}

.class-single-item-option-section-r {
  @media screen and (max-width: 480px) {
    flex-direction: row-reverse;
  }
}

.class-single-item-main-svg-container {
  position: absolute;
  width: calc(100% - 50px);
  background-color: transparent;
  border-radius: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-single-item-main-svg-circle {
  position: absolute;
  width: 220px;
  height: 220px;
  background-color: var(--background-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 480px) {
    width: 150px;
    height: 150px;
  }
}

.class-single-item-main-svg {
  width: 130px;
  height: 130px;

  @media screen and (max-width: 480px) {
    width: 90px;
    height: 90px;
  }
}

.class-single-item-svg {
  width: 45px;
  height: 45px;
  fill: var(--background-color);
  margin: 0 15px;

  @media screen and (max-width: 480px) {
    width: 40px;
    height: 40px;
    margin: 0 15px;
  }
}

.class-item-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;

  &:nth-child(even) {
    justify-content: flex-start;
  }

  &:last-child {
    margin-bottom: 30px;
  }
}

.class-lesson-item {
  width: 40%;
  height: 180px;
  background-color: var(--secondary-color);
  display: flex;

  @media screen and (max-width: 480px) {
    width: 100%;
    height: 120px;
  }

  &.odd {
    margin-right: 90px;
    @media screen and (max-width: 480px) {
      margin-right: 60px;
    }

    .class-lesson-item-media {
      order: 1;
    }

    .class-lesson-item-info {
      order: 2;
    }
  }

  &.even {
    margin-left: 90px;
    @media screen and (max-width: 480px) {
      margin-left: 60px;
    }

    .class-lesson-item-media {
      order: 2;
    }

    .class-lesson-item-info {
      order: 1;
    }
  }
}

.class-lesson-item-media {
  width: 14%;
  position: relative;
  @media screen and (max-width: 1300px) {
    width: 20%;
  }
  @media screen and (max-width: 1000px) {
    width: 25%;
  }
  @media screen and (max-width: 480px) {
    width: 18%;
  }
}

.class-lesson-item-info {
  width: 88%;
  color: var(--background-color);
  @media screen and (max-width: 1300px) {
    width: 80%;
  }
  @media screen and (max-width: 1000px) {
    width: 75%;
  }
  @media screen and (max-width: 480px) {
    width: 82%;
  }
}

.class-lesson-item-media-svg-container {
  position: absolute;
  height: 180px;
  width: 180px;
  background-color: var(--background-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 480px) {
    height: 120px;
    width: 120px;
  }

  &.odd {
    right: -90px;
    @media screen and (max-width: 480px) {
      right: -60px;
    }
  }

  &.even {
    left: -90px;
    @media screen and (max-width: 480px) {
      left: -60px;
    }
  }
}

.class-lesson-item-media-svg {
  height: 110px;
  width: 110px;
  @media screen and (max-width: 480px) {
    height: 75px;
    width: 75px;
  }
}

.class-lesson-item-info-title {
  width: 86%;
  height: 80px;
  font-size: $home-title-font-size;
  display: flex;
  align-items: center;
  padding: 0 7%;

  @media screen and (max-width: 480px) {
    height: 50px;
    font-size: $home-regular-font-size;
  }

  &.odd {
    justify-content: flex-start;
  }

  &.even {
    justify-content: flex-end;
  }
}

.class-lesson-item-info-title-text {
  color: var(--background-color);
  transition: all linear 0.1s;

  &:hover {
    color: var(--third-color);
  }
}

.class-lesson-item-info-description {
  width: 100%;
  height: 100px;
  font-size: $title-font-size;
  display: flex;

  @media screen and (max-width: 480px) {
    height: 70px;
    font-size: $very-fucking-small-font;
  }
}

.class-lesson-item-info-description-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  text-align: center;
}

.class-lesson-item-info-description-section-svg {
  width: 30px;
  height: 30px;
  fill: var(--background-color);
  margin: 10px 0;

  @media screen and (max-width: 480px) {
    width: 20px;
    height: 20px;
  }
}

.class-location-container {
  margin-top: 20px;
  text-align: right;
  width: 100%;
  font-size: $home-regular-font-size;
  font-weight: bold;
}

.class-location-link {
  text-decoration: underline;
  transition: all linear $short-animation-duration;

  &:hover {
    color: var(--primary-color);
  }
}

.class-left-arrow {
  fill: var(--dark-color);
  width: 15px;
  height: 15px;
  margin: 0 15px;
  transform: rotate(180deg) translateY(-5px);
}

.class-resources-page-container {
  padding: $header-size 5% 0 5%;
  background-color: var(--light-color);
  min-height: calc(100vh - 81px);

}

.class-a-resource-container {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.class-handout-item {
  background-color: var(--background-color);
  height: 200px;
  min-width: 200px;
  max-width: 210px;
  margin: 35px;
  text-align: center;
  flex-grow: 1;
}

.class-handout-item-svg {
  width: 70px;
  height: 70px;
  margin: 30px 0 12px 0;
}

.class-handout-item-title {
  font-size: $title-font-size;
  font-weight: bold;
  margin-bottom: 5px;
}
.class-handout-item-description {
  font-size: $regular-font-size;
}