:root {
    --transparent-third: rgba(58, 175, 169, 0.1);
    --transparent-second: rgba(58, 175, 169, 0.4);
    --transparent-primary: rgba(58, 175, 169, 0.6);
    --third-color: #75C7C3;
    --primary-color: #3AAFA9;
    --secondary-color: #2B7A78;
    --secondary-color-hover: #2a6f6d;
    --pavilion-background-color: #FFCC44;
    --light-color: #DEF2F1;
    --success-color: #28BF49;
    --dark-color: #303030;
    --bold-description-color: #505050;
    --post-like-comment-color: #707070;
    --very-light-color: #fafafa;
    --background-color: #FFFFFF;
    --login-page-background-color: #DEF2F1;
    --border-color: #CDCDCD;
    --text-light-color: #878787;
    --error-color: #C62828;
}