@import "variables";

.page-background-img {
  margin-top: 80px;
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow: hidden;

  &.exchange {
    background-image: url("../Media/Images/Exchange.jpg");
  }

  &.video {
    background-image: url("../Media/Images/VideoPage.jpg");
  }

  &.pavilion {
    background-image: url("../Media/Images/Pavilion.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $pavilion-background-color;

    @media screen and (max-width: 480px) {
      background-position: 20% 100%;
      background-size: 150%;
    }
  }

  &.class {
    background-image: url("../Media/Images/Class.jpg");
  }

  @media screen and (max-width: 480px) {
    align-items: center;
  }
}

.page-des-cont {
  max-width: 550px;
  text-align: center;
  margin: 50px 5% 0 0;

  @media screen and (max-width: 480px) {
    margin: 15px 0 0 0;
    width: 90%;
    max-width: 90%;
  }
}

.exchange-desc {
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid black;
  font-size: 60px;
  color: $secondary-color;
  margin-bottom: 20px;

  &.pavilion {
    color: $error-color;
  }

  &.class {
    color: #DBF3F5;
  }

  @media screen and (max-width: 650px) {
    font-size: 40px;
  }
}

.exchange-text {
  font-size: 20px;
  text-align: justify;
  text-align-last: right;
  width: 100%;
  line-height: 40px;

  &.class {
    color: #f1f1f1;
  }

  @media screen and (max-width: 650px) {
    font-size: 14px;
  }
}

.exchange-item-cont-hide {
  flex-grow: 1;
  height: 0;
  overflow: hidden;
  margin: 0 10px;
  width: 185px;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.exchange-item-cont {
  text-decoration: none;
  color: black;
  flex-grow: 1;
  width: 185px;
  background-color: rgba(245, 245, 245, 0.5);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  margin: 0 10px 20px 10px;
  text-align: center;
  white-space: normal;
  transition: all linear 0.2s;

  @media screen and (min-width: 480px) {
    &:hover {
      box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.2);
    }
  }

  @media screen and (max-width: 480px) {
    box-shadow: none;
    width: 90%;
    margin: 0;
    border-top: 1px solid $primary-color;
    position: relative;
  }
}

.exchange-item-cont-material {
  @media screen and (max-width: 480px) {
    height: 110px;
    padding: 15px 5%;
    background-color: rgba(245, 245, 245, 0.5);

    &.in-slide {
      border: 1px solid $primary-color;
    }
  }
}

.exchange-item-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;

  &.in-slide {
    height: 250px;
    @media screen and (max-width: 480px) {
      height: 110px;
    }
  }

  @media screen and (max-width: 480px) {
    position: absolute;
    width: 30%;
    top: 15px;
    height: 110px;
    left: 5%;
    margin-bottom: 0;
  }
}

.exchange-item-title {
  font-size: $regular-font-size;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;

  @media screen and (max-width: 480px) {
    position: absolute;
    right: 5%;
    width: 48%;
    text-align: right;
    top: 15px;
    white-space: normal;
    word-break: break-word;
  }
}

.exchange-item-description {
  font-size: $small-font-size;
  width: calc(100% - 20px);
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.exchange-item-price {
  color: $error-color;
  font-size: $title-font-size;
  white-space: nowrap;
  margin-top: 10px;
  padding: 0 10px;

  span {
    color: blue;
  }

  @media screen and (max-width: 480px) {
    position: absolute;
    right: 5%;
    width: 48%;
    text-align: right;
    bottom: 50px;
    padding: 0;
    margin-top: 0;
  }
}

.exchange-item-city {
  background-color: white;
  border: 1px solid $text-light-color;
  margin-top: 10px;
  border-radius: 15px;
  padding: 3px 15px;
  display: inline-block;
  font-size: $title-font-size;
  margin-bottom: 15px;

  @media screen and (max-width: 480px) {
    position: absolute;
    right: 5%;
    text-align: right;
    bottom: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.create-exchange-button {
  display: inline-block;
  padding: 15px;
  border: 1px solid $primary-color;
  color: $primary-color;
  cursor: pointer;
  font-size: $home-regular-font-size;

  @media screen and (max-width: 480px) {
    order: 0;
  }
}

.create-exchange-button-search-add-container {
  margin: 20px 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.create-exchange-button-search-cont {
  display: inline-block;
  position: relative;

  @media screen and (max-width: 480px) {
    order: 3;
    width: 100%;
    margin-top: 10px;
  }
}

.create-exchange-button-search {
  width: 250px;
  border: none;
  border-bottom: 1px solid $dark-color;
  padding: 16px;
  vertical-align: top;

  @media screen and (max-width: 480px) {
    width: calc(100% - 32px);
  }
}

.create-exchange-button-search-svg {
  width: 30px;
  position: absolute;
  left: 0;
  top: 10px;
}

.create-exchange-button-search-categories-arrow {
  transform: rotate(180deg);
  width: 10px;
  margin-right: 5px;
  margin-bottom: -2px;
}

.create-exchange-button-search-length {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  font-size: $really-small-font;
  border: 1px solid $primary-color;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  overflow: hidden;
  transition: all linear 0.2s;

  &.hide {
    width: 0;
    height: 0;
    font-size: 5px;
    border: 1px solid transparent;
  }
}

.create-exchange-button-search-categories-list {
  position: absolute;
  top: 51.7px;
  left: 0;
  width: 300px;
  background-color: white;
  z-index: 1;
  border: 1px solid $dark-color;
  overflow: hidden;
  height: 308px;
  opacity: 1;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  transition: all linear 0.2s, border linear 0s;

  &.hide {
    height: 0;
    opacity: 0;
    border: 1px solid transparent;
  }

  @media screen and (max-width: 480px) {
    width: calc(90vw - 2px);
  }
}

.create-exchange-button-search-cats {
  margin: 5px;
  padding: 0 10px;
  height: 250px;
  overflow: auto;
}

.create-exchange-button-search-categories-cont {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: $home-regular-font-size;
  cursor: pointer;

  @media screen and (max-width: 480px) {
    order: 1;
  }
}

.create-exchange-button-search-categories {
  padding: 15px 20px;
  border: 1px solid $dark-color;
  z-index: 2;
  background-color: white;

  &.bottom-none {
    border-bottom: none;
  }
}

.exchange-page-content {
  min-height: 70vh;
}

.exchange-list {
  padding: 0 calc(5% - 10px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 480px) {
    padding: 0;
  }
}

.exchange-list-new {
  padding: 0 calc(5% - 10px) 30px calc(5% - 10px);
  background-color: $primary-color;
  display: inline-block;
  width: calc(90% + 20px);

  @media screen and (max-width: 480px) {
    padding: 0;
    display: inline-block;
    width: 100%;
  }
}

.exchange-list-new-cont-mobile {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
  }
}

.exchange-list-new-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.exchange-list-new-title {
  min-width: 100%;
  max-width: 100%;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  font-size: $home-title-font-size;
  position: relative;
  color: white;
  background-color: $primary-color;

  &:after {
    position: absolute;
    right: calc(50% - 75px);
    bottom: -5px;
    content: "";
    width: 150px;
    border-bottom: 1px solid white;
  }
}

.create-exchange-cont {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: white;
  width: 430px;
  border: 1px solid $text-light-color;
  text-align: center;
  z-index: 5;
  opacity: 1;
  animation: show-modal linear 0.2s;
  transform: translate3d(-50%, -50%, 0) scale(1);
  transition: all linear 0.2s;
  border-radius: 3px;

  &.bigger-size {
    @media screen and (min-width: 850px) {
      width: 800px;
    }
  }

  &.create-small {
    @media screen and (max-width: 480px) {
      width: auto;
      display: flex;
      flex-direction: column;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translate3d(0, 0, 0) scale(1);
      overflow-y: auto;
      animation: show-modal-small linear 0.2s;
    }
  }

  &.login {
    width: 500px;
    padding: 15px;
    @media screen and (max-width: 480px) {
      width: calc(90% - 30px);
    }
  }
}

@keyframes show-modal {
  from {
    transform: translate3d(-50%, -50%, 0) scale(0.3);
  }
  to {
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
}

@keyframes show-modal-small {
  from {
    transform: translate3d(0, 0, 0) scale(0.3);
  }
  to {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

.create-exchange-title {
  font-size: $home-regular-font-size;
  font-weight: bold;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid $text-light-color;

  &.login {
    display: inline-block;
    border-bottom: none;
    vertical-align: top;
    margin-top: 9px;
    margin-left: 15px;
    padding: 5px 0 20px;
  }
}

.login-modal-sign-up {
  font-size: $home-regular-font-size;
  font-weight: bold;
  padding: 20px 0 5px 0;
  border-top: 1px solid $text-light-color;
  text-decoration: none;
  color: $secondary-color;
  display: block;
}

.create-exchange-main {
  white-space: nowrap;
  overflow: hidden;
  font-size: $title-font-size;
  padding: 0 15px 15px 15px;

  @media screen and (max-width: 480px) {
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
  }
}

.create-exchange-part {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}

.create-exchange-section {
  display: flex;
  align-items: center;
  margin: 15px 0;
  overflow: hidden;
  transition: all linear 0.2s;

  &.relative-wrap {
    position: relative;
    flex-wrap: wrap;
  }

  &.margin-top-none {
    margin-top: 0;
  }

  &.show {
    height: 53px;
  }

  &.hide {
    margin: 0 0;
    height: 0;
    opacity: 0;
  }
}

.create-exchange-section-input {
  flex-grow: 1;
  border: 1px solid $text-light-color;
  padding: 15px;
  white-space: pre-wrap;
  resize: none;

  &.price {
    width: calc(100% - 100px);
    margin-right: 100px;
  }
}

.create-exchange-section-label {
  width: 100px;
  text-align: right;

  span {
    color: $error-color;
  }
}

.create-exchange-price {
  position: absolute;
  top: 50px;
  left: 10px;
  color: $text-light-color;
}

.create-exchange-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  opacity: 1;
  height: 100vh;
  transition: all linear 0.2s;
}

.create-exchange-image {
  margin: 20px 0;

  span {
    color: $error-color;
  }
}

.create-exchange-city {
  margin: 35px 0 8.5px 0;

  span {
    color: $error-color;
  }
}

.create-exchange-img {
  height: 280px;
  width: calc(100% - 152px);
  margin: auto;
  border: 1px dashed $text-light-color;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  @media screen and (max-width: 480px) {
    width: calc(100% - 100px);
  }

  &:hover {
    .create-exchange-edit-svg {
      opacity: 1;
    }
  }
}

.create-exchange-svg {
  width: 60px;
  fill: $text-light-color;
}

.create-exchange-selected-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.create-exchange-select {
  width: 100%;
  border: 1px solid $text-light-color;
  padding: 15px;
}

.create-exchange-submit {
  background-color: $primary-color;
  padding: 15px 0;
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  transition: width linear 0.2s, margin-left linear 0.2s, margin-right linear 0.2s;

  &.loading {
    cursor: not-allowed;
    background-color: $secondary-color;
  }
}

.create-exchange-hide-submit {
  opacity: 0.5;
  cursor: not-allowed;
}

.create-exchange-half-width-right {
  width: calc(50% - 7.5px);
  margin-left: 7.5px;
  background-color: #C62828;
}

.create-exchange-half-width-left {
  width: calc(50% - 7.5px);
  margin-right: 7.5px;
}

.create-exchange-hide-width {
  width: 0;
  background-color: #C62828;
}

.create-exchange-rol {
  transition: transform linear 0.2s;

  &.level-one {
    transform: translateX(0);
  }

  &.level-two {
    transform: translateX(calc(100% + 30px));
  }

  &.level-three {
    transform: translateX(calc(200% + 60px));
  }

  @media screen and (max-width: 480px) {
    flex-grow: 1;
  }
}

.create-exchange-category-btn-cont {
  padding: 10px 0;
  display: flex;
  user-select: none;

  span {
    color: $error-color;
  }
}

.create-exchange-category-btn {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  display: inline-flex;

  &.search {
    width: calc(100% - 20px);
    justify-content: flex-start;
    text-align: right;
    font-size: $regular-font-size;
    padding: 10px;
    border-bottom: 1px solid $text-light-color;
  }
}

.create-exchange-category-item {
  cursor: pointer;

  &.left {
    margin-right: 5px;
  }

  &.right {
    margin-left: 5px;
  }
}

.create-exchange-category-list {
  height: 450px;
  overflow-y: auto;
}

.create-exchange-category-title {
  text-align: right;
  padding: 10px 5px;
  margin: 2px 0;
  cursor: pointer;
  font-size: $regular-font-size;
  transition: all linear 0.2s;

  &.selected {
    background-color: $login-page-background-color;
  }

  &.child {
    padding-right: 15px;
    font-size: $small-font-size;
  }
}

.create-exchange-category-arrow {
  width: 10px;
  position: absolute;
  left: 10px;
  top: 15px;
  transform: rotate(180deg);
}

.exchange-page-loading {
  text-align: center;
  padding: 10px 0;
  height: 29px;
  overflow: hidden;
  min-width: 100%;
  transition: all linear 0.2s;

  &.hide {
    opacity: 0;
  }

  &.not-found {
    margin-top: 15px;
    font-size: $title-font-size;
  }

}

.exchange-page-checkbox {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding-right: 23px;
  cursor: pointer;
  font-size: 12px;
  user-select: none;

  .check-mark {
    position: absolute;
    top: 2px;
    right: 0;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 1px solid $dark-color;
    background-color: white;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  .check-mark:after {
    left: 2px;
    top: 2px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $dark-color;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked + .check-mark {
      background-color: white;

      &:after {
        display: block;
      }
    }
  }
}

.create-exchange-section-checkboxes {
  margin: 5px 0 10px 0;
  white-space: nowrap;
  flex-grow: 1;
  text-align: right;

  label {
    display: inline-block;
    margin-left: 10px;
  }
}

.exchange-show-cont {
  padding: 90px 5% 0 5%;
  min-height: calc(100vh - 150px);
  @media screen and (max-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
  }
}

.exchange-show-content {
  display: inline-block;
  width: 65%;
  margin-left: 5%;
  vertical-align: top;

  @media screen and (max-width: 480px) {
    width: 100%;
    order: 1;
  }
}

.exchange-show-img {
  width: 30%;

  @media screen and (max-width: 480px) {
    width: 100%;
    height: 300px;
    object-fit: contain;
    order: 0;
    margin-bottom: 25px;
  }
}

.exchange-show-title {
  position: relative;
  font-size: $home-title-font-size;
  display: inline-block;

  &:after {
    position: absolute;
    right: 0;
    bottom: -5px;
    content: "";
    width: 100%;
    border-bottom: 1px solid $dark-color;
  }
}

.exchange-show-lined {
  font-size: $title-font-size;
}

.exchange-show-categories {
  margin-top: 20px;
  font-size: $title-font-size;
}

.exchange-show-desc {
  margin-top: 20px;
  line-height: 25px;
  font-size: $title-font-size;
  white-space: pre-wrap;
  word-break: break-word;
  min-height: 200px;

  @media screen and (max-width: 480px) {
    min-height: auto;
  }
}

.exchange-show-city {
  background-color: white;
  border: 1px solid $text-light-color;
  margin-top: 10px;
  border-radius: 15px;
  padding: 3px 15px;
  display: inline-block;
  font-size: $title-font-size;
}

.exchange-show-price {
  color: $error-color;
  font-size: $menu-title-font-size;
  white-space: nowrap;
  margin-top: 10px;
  padding: 0 10px;

  span {
    color: blue;
  }
}

.exchange-show-buy {
  display: inline-block;
  margin: 30px 0;
  font-size: $title-font-size;
  padding: 10px 30px;
  color: white;
  cursor: pointer;
  background-color: $secondary-color;
}

.exchange-show-contact {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 300px;
  padding: 25px 15px;
  transform: translate(-50%, -50%);
  z-index: 5;
  background-color: white;
  text-align: center;
  font-size: $title-font-size;
  border: 5px solid $secondary-color;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  animation: show-modal linear 0.2s;

  &.password {
    border: none;
  }

  @media screen and (max-width: 480px) {
    width: calc(95% - 50px);
  }
}

.exchange-show-contact-link {
  margin-right: 8px;
  text-decoration: none;
  background-color: $primary-color;
  border-radius: 15px;
  color: white;
  padding: 5px 10px;
}

.create-exchange-edit-svg {
  width: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: white;
  border-radius: 50%;
  height: 20px;
  padding: 10px;
  opacity: 0.7;
  transition: all linear 0.2s;
}

.create-exchange-selected-uploading {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all linear 0.1s;
}

.exchange-item-remove-cont {
  padding: 10px;
}