@import "variables";

.exchange-background-img {
  margin-top: 80px;
  width: 100%;
  height: 550px;
  object-fit: cover;
  background-image: url("../Media/Images/Exchange.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exchange-des-cont {
  max-width: 270px;
  text-align: center;

  @media screen and (max-width: 650px) {
    margin: 0 0 250px 0;
  }
  @media screen and (min-width: 650px) {
    margin: 0 0 200px 300px;
  }
  @media screen and (max-width: 480px) {
    margin: 0 5%;
    width: 90%;
    max-width: 90%;
  }
}

.exchange-desc {
  display: block;
  border-bottom: 1px solid black;
  font-size: 60px;
  color: $secondary-color;

  @media screen and (max-width: 650px) {
    font-size: 40px;
  }
}

.exchange-text {
  font-size: 20px;
  text-align: justify;
  text-align-last: center;

  @media screen and (max-width: 650px) {
    font-size: 15px;
  }
}

.exchange-item-cont-hide {
  flex-grow: 1;
  padding: 0 20px;
  height: 0;
  overflow: hidden;
  margin: 0 10px;
  width: 280px;

  @media screen and (max-width: 480px) {
    width: calc(100% - 40px);
    margin: 0;
  }
}

.exchange-item-cont {
  flex-grow: 1;
  display: inline-block;
  background-color: #F5F5F5;
  width: 280px;
  padding: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
  white-space: normal;

  @media screen and (max-width: 480px) {
    width: calc(100% - 40px);
    margin: 10px 0;
  }
}

.exchange-item-img {
  width: 100%;
  height: 350px;
  object-fit: contain;
}

.exchange-item-border {
  width: 100%;
  height: 1px;
  background-color: grey;
  margin: 10px 0;
}

.exchange-item-title {
  font-size: $regular-font-size;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.exchange-item-description {
  font-size: $small-font-size;
  width: 100%;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exchange-item-price {
  color: $error-color;
  font-size: $title-font-size;
  white-space: nowrap;
  margin-top: 10px;
  width: 100%;

  span {
    color: blue;
  }
}

.exchange-item-city {
  background-color: white;
  border: 1px solid $text-light-color;
  margin-top: 10px;
  border-radius: 15px;
  padding: 3px 15px;
  display: inline-block;
  font-size: $title-font-size;
}

.create-exchange-button {
  display: inline-block;
  margin: 20px 5% 10px 5%;
  padding: 15px;
  border: 1px solid $primary-color;
  color: $primary-color;
  cursor: pointer;
  font-size: $home-regular-font-size;
}

.exchange-list {
  padding: 0 calc(5% - 10px);
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 480px) {
    padding: 0 5%;
  }
}

.create-exchange-cont {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: white;
  width: 400px;
  border: 1px solid $text-light-color;
  text-align: center;
  padding: 15px;

  &.login {
    width: 500px;
    @media screen and (max-width: 480px) {
      width: calc(90% - 30px);
    }
  }

  &.show {
    z-index: 5;
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1);
    transition: opacity linear 0.2s, transform linear 0.2s, z-index linear 0s 0s;
    @media screen and (max-width: 480px) {
      width: calc(90% - 30px);
    }
  }

  &.hide {
    z-index: -1;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.9);
    transition: opacity linear 0.2s, transform linear 0.2s, z-index linear 0s 0.3s;
    @media screen and (max-width: 480px) {
      width: calc(90% - 30px);
    }
  }
}

.create-exchange-title {
  font-size: $home-regular-font-size;
  font-weight: bold;
  padding: 5px 0 20px 0;
  border-bottom: 1px solid $text-light-color;
}

.login-modal-sign-up {
  font-size: $home-regular-font-size;
  font-weight: bold;
  padding: 20px 0 5px 0;
  border-top: 1px solid $text-light-color;
  text-decoration: none;
  color: $secondary-color;
  display: block;
}

.create-exchange-main {
  white-space: nowrap;
  overflow: hidden;
  font-size: $title-font-size;
}

.create-exchange-part {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}

.create-exchange-section {
  display: flex;
  align-items: center;
  margin: 15px 0;

  &.relative {
    position: relative;
  }
}

.create-exchange-section-input {
  flex-grow: 1;
  border: 1px solid $text-light-color;
  padding: 15px;
  resize: none;
}

.create-exchange-section-label {
  width: 100px;
  text-align: right;

  span {
    color: $error-color;
  }
}

.create-exchange-price {
  position: absolute;
  left: 10px;
  color: $text-light-color;
}

.create-exchange-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);

  &.show {
    z-index: 4;
    opacity: 1;
    transition: opacity linear 0.3s, z-index linear 0s 0s;
  }

  &.hide {
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.3s, z-index linear 0s 0.4s;
  }
}

.create-exchange-image {
  margin: 20px 0;

  span {
    color: $error-color;
  }
}

.create-exchange-city {
  margin: 20px 0 8.5px 0;

  span {
    color: $error-color;
  }
}

.create-exchange-img {
  height: 200px;
  width: calc(100% - 2px);
  border: 1px dashed $text-light-color;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.create-exchange-svg {
  width: 60px;
  fill: $text-light-color;
}

.create-exchange-selected-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.create-exchange-select {
  width: 100%;
  border: 1px solid $text-light-color;
  padding: 15px;
}

.create-exchange-submit {
  background-color: $primary-color;
  padding: 15px 0;
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  transition: width linear 0.2s, margin-left linear 0.2s, margin-right linear 0.2s;
}

.create-exchange-hide-submit {
  opacity: 0.5;
  cursor: not-allowed;
}

.create-exchange-half-width-right {
  width: calc(50% - 7.5px);
  margin-left: 7.5px;
  background-color: #C62828;
}

.create-exchange-half-width-left {
  width: calc(50% - 7.5px);
  margin-right: 7.5px;
}

.create-exchange-hide-width {
  width: 0;
  background-color: #C62828;
}

.create-exchange-rol {
  transition: transform linear 0.2s;

  &.level-one {
    transform: translateX(0);
  }

  &.level-two {
    transform: translateX(calc(100% + 30px));
  }

  &.level-three {
    transform: translateX(calc(200% + 60px));
  }
}