@import "variables";

.header-container-base {
  position: fixed;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  z-index: 3;
  height: 80px;
  transition: all ease $color-animation-duration;
  @media screen and (min-width: 480px) {
    &.hidden {
      background-color: transparent;
      border-bottom: 1px solid transparent;
      padding: 0 3% 0 3%;
    }

    &.visible {
      background-color: $background-color;
      border-bottom: 1px solid $primary-color;
      padding: 0 5% 0 5%;
    }
  }
  @media screen and (max-width: 480px) {
    background-color: $background-color;
    border-bottom: 1px solid $primary-color;
    padding: 0 5% 0 5%;
  }

}

.header-buttons {
  display: inline-flex;
  height: 100%;
  align-items: center;
  font-size: $home-regular-font-size;
  font-weight: bold;
  text-shadow: 0 0 0 3px rgba(255, 255, 255, .4);

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.header-buttons-menu-cont {
  @media screen and (min-width: 480px) {
    margin-left: 35px;
    height: 100%;
    position: relative;
    transition: all linear 0.2s;

    &.styled {
      height: 50%;

      .header-hamburger-desktop {
        transform: scale(0.8);
        margin-left: 15px;
      }

      .header-buttons-menu {
        border-radius: 35px;
      }

      &.open-drop {
        height: 70%;

        .header-buttons-menu {
          border-radius: 0;
        }
      }
    }
  }
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.header-buttons-menu {
  height: 100%;
  cursor: pointer;
  background-color: $primary-color;
  color: whitesmoke;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-weight: bold;
  transition: all linear 0.2s;

  &.panel {
    background-color: $secondary-color;
  }
}

.header-buttons-menu-drop {
  @media screen and (min-width: 480px) {
    position: absolute;
    left: 0;
    right: 0;
    background-color: $primary-color;
    text-align: center;
    color: whitesmoke;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all linear 0.2s;
  }
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.header-buttons-menu-drop-link {
  color: whitesmoke;
  text-decoration: none;
  transition: all linear 0.2s;

  &:hover {
    background-color: $third-color;
  }

  &:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}

.header-buttons-menu-drop-item {
  padding: 15px 0;
  cursor: pointer;
  background-color: inherit;
}

.header-hamburger-mobile-material {
  display: none;
  @media screen and (max-width: 480px) {
    z-index: 5;
    margin-right: -7.5px;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &.toggle {
      transition: all linear 0.2s, background-color linear 0.2s 0.2s;
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
}

.header-hamburger-desktop {
  position: relative;
  width: 36px;
  height: 25px;
  margin-left: 20px;
  transition: all linear 0.2s;

  .hamburger-line {
    background-color: whitesmoke;
  }
}

.header-hamburger-mobile {
  position: relative;
  width: 35px;
  height: 25px;
  fill: grey;
}

.header-buttons-title {
  cursor: pointer;
  margin-left: 35px;
  user-select: none;
  height: 30%;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: $dark-color;
  border-radius: 35px;
  padding: 0 0;
  transition: all linear 0.2s;

  &.styled {
    color: white;
    background-color: rgba(58, 175, 169, 0.8);
    padding: 10px 15px;
  }

  &:first-child {
    margin: 0 0 0 35px;
  }
}

.header-logo-cont {
  display: inline-flex;
  height: 100%;
  align-items: center;
}

.header-mobile-name {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
    text-decoration: none;
    position: fixed;
    left: 5%;
    font-size: $title-font-size;
    color: $secondary-color;
    padding: 5px;
    min-width: 38px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid $login-page-background-color;
    transition: all linear 0.2s;

    &.on-side {
      animation: on-side linear 0.4s;
      left: calc(95% - 50px);
      z-index: 5;
      transform: translateX(-100%);
      border: none;
    }
  }
}

@keyframes on-side {
  0% {
    left: 5%;
    opacity: 0;
  }
  80% {
    opacity: 0;
    left: calc(95% - 50px);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
  }
}

.header-logo-cont-title {
  color: $dark-color;
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 4px;
  transition: opacity linear 0.1s;

  &.no-margin-top {
    margin-top: -4px;
  }

  span {
    color: $error-color;
  }

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.header-logo-link {
  display: inline-flex;
  height: 100%;
  overflow: hidden;
  align-items: center;
  text-decoration: none;
}

.header-logo {
  width: 50px;
  height: 50px;

  @media screen and (max-width: 480px) {
    position: fixed;
    left: calc(50% - 25px);
    z-index: 5;
    transition: left linear 0.2s 0s;

    &.show {
      left: calc(30% - 25px);
      transition: left linear 0.2s 0.09s;
    }
  }
}

.header-login-cont {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: white;
  width: 500px;
  border: 1px solid $text-light-color;
  text-align: center;
  padding: 15px;

  &.show {
    z-index: 5;
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1);
    transition: opacity linear 0.2s, transform linear 0.2s, z-index linear 0s 0s;
  }

  &.hide {
    z-index: -1;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.9);
    transition: opacity linear 0.2s, transform linear 0.2s, z-index linear 0s 0.3s;
  }
}

.header-login-submit {
  background-color: $primary-color;
  padding: 15px 0;
  color: white;
  margin: 10px 0;
  cursor: pointer;

  &.loading {
    padding: 18.4px 0 9.4px 0;
  }
}

.login-modal-logo {
  width: 50px;
  margin-bottom: 5px;
}

.header-sidebar-container {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    background-color: white;
    z-index: 4;
  }
}

.header-sidebar-link {
  text-decoration: none;
  color: black;
  font-size: $title-font-size;
  font-weight: bold;
}

.header-sidebar-btn {
  border-top: 1px solid $login-page-background-color;
  border-bottom: 1px solid $login-page-background-color;
  padding: 20px 15px;
  margin-top: -1px;

  &.margin-top {
    margin-top: 80px;
  }
}

.header-sidebar-log-out {
  font-size: $title-font-size;
  font-weight: bold;
  background-color: #ffebee;
  color: $error-color;
  padding: 20px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-sidebar-back {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
  }
}