@import "variables";

.header-container-base {
  position: fixed;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  z-index: 3;
  height: 80px;
  transition: all ease $color-animation-duration;
  @media screen and (min-width: 480px) {
    &.hidden {
      background-color: transparent;
      border-bottom: 1px solid transparent;
      padding: 0 3% 0 3%;
    }

    &.visible {
      background-color: $background-color;
      border-bottom: 1px solid $primary-color;
      padding: 0 5% 0 5%;
    }
  }
  @media screen and (max-width: 480px) {
    background-color: $background-color;
    border-bottom: 1px solid $primary-color;
    padding: 0 5% 0 5%;
  }

}

.header-buttons {
  display: inline-flex;
  height: 100%;
  overflow: hidden;
  align-items: center;
  font-size: $home-regular-font-size;
  font-weight: bold;
  text-shadow: 0 0 0 3px rgba(255, 255, 255, .4);

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.header-buttons-menu {
  @media screen and (min-width: 750px) {
    cursor: pointer;
    background-color: $primary-color;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 130px;
    font-weight: bold;
    margin-left: 20px;
  }
  @media screen and (max-width: 750px) {
    display: none;
  }
}

.header-buttons-hamburger {
  width: 40px;
}

.header-hamburger-mobile {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
    width: 40px;
    fill: grey;
    margin-left: 10px;
  }
}

.header-buttons-title {
  cursor: pointer;
  margin: 0 20px;
  user-select: none;
  height: 100%;
  display: inline-flex;
  align-items: center;
  color: $dark-color;
  text-decoration: none;

  &:first-child {
    margin: 0 0 0 20px;
  }
}

.header-logo-cont {
  display: inline-flex;
  height: 100%;
  overflow: hidden;
  align-items: center;
}

.header-mobile-login {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
    position: fixed;
    left: 5%;
    font-size: $title-font-size;
    color: $secondary-color;
    background-color: transparent;
    border: 1px solid $login-page-background-color;
    padding: 5px;
    width: 38px;
    text-align: center;
  }
}

.header-mobile-name {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
    position: fixed;
    left: 5%;
    font-size: $title-font-size;
    color: $secondary-color;
    padding: 5px;
    min-width: 38px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid $login-page-background-color;
  }
}

.header-logo-cont-title {
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
  transition: opacity linear 0.1s;
  @media screen and (max-width: 480px) {
    display: none;
  }

  span {
    color: #4B0404;
  }
}

.header-logo-link {
  display: inline-flex;
  height: 100%;
  overflow: hidden;
  align-items: center;
}

.header-logo {
  width: 50px;
  height: 50px;

  @media screen and (max-width: 480px) {
    position: fixed;
    left: calc(50% - 25px);
  }
}

.header-login-cont {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: white;
  width: 500px;
  border: 1px solid $text-light-color;
  text-align: center;
  padding: 15px;

  &.show {
    z-index: 5;
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1);
    transition: opacity linear 0.2s, transform linear 0.2s, z-index linear 0s 0s;
  }

  &.hide {
    z-index: -1;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.9);
    transition: opacity linear 0.2s, transform linear 0.2s, z-index linear 0s 0.3s;
  }
}

.header-login-submit {
  background-color: $primary-color;
  padding: 15px 0;
  color: white;
  margin: 10px 0;
  cursor: pointer;
}