@import "header";
@import "home";
@import "exchange";
@import "footer";
@import "Material.css";

@font-face {
  font-family: "IranSans";
  src: url("../Media/Fonts/IRANSans.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  color: #17252A;
  direction: rtl;
  font-family: "IranSans", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
}

button, input, textarea, h4, h3, h2, h1 {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "IranSans", serif;

  &:focus {
    outline: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #cdcdcd;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2A3542;
}