.material-input {
    position: relative;
    border-radius: 5px;
    direction: rtl;
    text-align: right;
    transition-timing-function: ease;
    transition-duration: 0.2s;
}

.material-input-text {
    background-color: inherit;
    width: calc(100% - 20px);
    height: 100%;
    border: 1px solid #DADCE0;
    padding: 0 10px;
    text-align: right;
    transition-timing-function: ease;
    transition-duration: 0.2s;
    font-size: 15px;
}

.material-input-textarea {
    background-color: inherit;
    width: calc(100% - 20px);
    height: 100%;
    border: 1px solid #DADCE0;
    /*border-radius: 5px;*/
    padding: 10px 10px;
    text-align: right;
    transition-timing-function: ease;
    transition-duration: 0.2s;
    font-size: 15px;
    resize: none;
}

.material-input-text:focus, .material-input-textarea:focus {
    outline: none;
    border: 1px solid #2A3542;
    transition-timing-function: ease;
    transition-duration: 0.2s;
}

.material-input-text:focus + .material-input-label-out , .material-input-textarea:focus + .material-input-label-out {
    color: #2A3542;
    transition-timing-function: ease;
    transition-duration: 0.2s;
}

.material-input-label {
    user-select: none;
    position: absolute;
    top: 50%;
    right: 6px;
    padding: 0 5px;
    transform: translateY(-50%);
    color: #80868B;
    font-size: 15px;
    cursor: text;
    border-radius: 10px;
    transition-timing-function: ease;
    transition-duration: 0.2s;
}

.material-input-label-out {
    user-select: none;
    position: absolute;
    top: 0;
    right: 6px;
    padding: 0 5px;
    transform: translateY(-50%);
    color: #80868B;
    font-size: 12px;
    cursor: text;
    border-radius: 10px;
    transition-timing-function: ease;
    transition-duration: 0.2s;
}