@import "variables";

.panel-page-container {
  padding: 90px 5%;
}

.panel-page-content {
  margin-right: 312px;
  width: calc(100% - 312px);
  display: inline-block;
  vertical-align: top;
  text-align: center;

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-right: 0;
  }
}

.panel-page-section {
  text-align: center;
}

.panel-page-section-title {
  background-color: var(--dark-color);
  color: var(--background-color);
  font-weight: bold;
  font-size: $title-font-size;
  padding: 12px 0;
}

.panel-0ff-code-scroll {
  width: 100%;
  overflow-y: visible;
  overflow-x: auto;

  @media screen and (max-width: 480px) {
    padding-top: 0 !important;
  }
}

.panel-0ff-code-cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: $regular-font-size;
  padding: 10px 0;
  cursor: pointer;
  transition: all linear 0.2s;

  &:nth-child(odd) {
    background-color: var(--login-page-background-color);
  }

  &.title {
    background-color: var(--secondary-color);
    padding: 13px 0;
    color: white;
    font-weight: bold;

    @media screen and (min-width: 480px) {
      z-index: 1;
      top: 81px;
    }

    @media screen and (max-width: 480px) {
      position: static !important;
    }

    &:hover {
      background-color: var(--secondary-color);
    }
  }

  &.scroll {
    @media screen and (max-width: 480px) {
      width: 120%;
    }
  }

  &.scroll-almost-wide {
    @media screen and (max-width: 480px) {
      width: 150%;
    }
  }

  &.scroll-wide {
    @media screen and (max-width: 480px) {
      width: 180% !important;
    }
  }

  &.scroll-wider {
    @media screen and (max-width: 480px) {
      width: 230% !important;
    }
  }

  &:hover {
    background-color: var(--third-color);
  }
}

.panel-0ff-code-item-small {
  width: 100px;
  text-align: center;
}

.panel-0ff-code-remove-cont {
  min-width: 25px;
  text-align: center;
  margin: 0 35px;
}

.panel-0ff-code-item {
  width: 200px;
  text-align: center;
  padding: 0 10px;
}

.panel-0ff-code-item-big {
  width: 300px;
  text-align: center;
  padding: 0 10px;
  word-break: break-word;
}

.panel-0ff-code-item-all {
  width: 100%;
  text-align: center;
}

.panel-0ff-code-add {
  width: 50px;
  height: 48px;
  padding-top: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 5%;
  bottom: 5%;
  background-color: var(--primary-color);
  border-radius: 50%;
  color: white;
  font-size: 20px;
  font-weight: bold;

  &.filter {
    height: 50px;
    padding-top: 0;
  }

  @media screen and (max-width: 480px) {
    bottom: 60px;
  }
}

.panel-add-off-main {
  padding: 15px;
  overflow: auto;

  @media screen and (min-width: 480px) {
    max-height: 80vh;
  }
}

.panel-add-off-input-cont {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  height: 35px;
  position: relative;

  label {
    display: inline-block;
    margin-left: 10px;
    margin-top: 3px;
  }
}

.panel-add-off-input-title {
  width: 85px;
  font-size: $regular-font-size;
  text-align: right;
  padding-top: 5px;
}

.panel-add-off-input {
  flex-grow: 1;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid var(--text-light-color);
  transition: all linear 0.2s;

  &:focus {
    border-bottom: 1px solid var(--primary-color);
  }
}

.panel-add-off-hint {
  font-size: $regular-font-size;
  color: var(--text-light-color);
  position: absolute;
  left: 0;
  top: 5px;
}

.panel-add-off-submit {
  background-color: var(--primary-color);
  color: white;
  font-size: $title-font-size;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.panel-0ff-code-usage {
  width: 30px !important;
  height: 30px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.panel-side-bar {
  position: fixed;
  right: 5%;
  top: 90px;
  width: 300px;
  border: 1px solid var(--dark-color);
  display: inline-block;
  vertical-align: top;

  @media screen and (max-width: 480px) {
    right: 0;
    left: 0;
    top: calc(100% - 45px);
    width: auto;
    z-index: 2;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    height: 100vh;
    background-color: white;
  }
}

.panel-side-bar-item-link {
  font-size: $title-font-size;
  text-align: center;

  @media screen and (max-width: 480px) {
    flex-grow: 1;
  }

  &.selected {
    .panel-side-bar-item {
      background-color: var(--dark-color);
      color: white;
    }
  }
}

.panel-side-bar-item {
  padding: 16px 0;
  transition: all linear 0.2s;
}

.panel-dashboard-item {
  display: inline-block;
  width: calc(50% - 7px);
  text-align: center;
  height: 370px;
  overflow: auto;
  border: 1px solid var(--dark-color);
  transition: all linear 0.2s;

  &:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  }

  @media screen and (max-width: 480px) {
    width: calc(100% - 2px);
  }

  &.right {
    @media screen and (min-width: 480px) {
      margin-left: 5px;
    }
  }

  &.left {
    @media screen and (min-width: 480px) {
      margin-right: 5px;
    }
  }
}

.panel-welcome {
  text-align: center;
  color: var(--secondary-color);
}

.panel-side-bar-mobile-line {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
    min-width: 100%;
    background-color: white;
    padding: 20px 0;
  }
}

.panel-side-bar-line {
  width: 50px;
  height: 5px;
  background-color: var(--text-light-color);
  border-radius: 3px;
  margin: auto;
}

.panel-add-pav-title {
  margin: 15px auto;
  display: block;
  width: calc(100% - 2px);
  height: 50px;

  &.no-margin-top {
    margin: 0 auto 15px auto;
  }

  .material-input-textarea {
    font-size: $home-regular-font-size;
    line-height: 25px;
  }

  &.area {
    height: 200px;
    margin: 10px auto 35px auto;
  }
}

.panel-add-pav-submit {
  background-color: var(--secondary-color);
  color: white;
  font-size: $home-regular-font-size;
  padding: 10px;
  cursor: pointer;
}

.panel-add-img {
  height: 280px;
  width: calc(100% - 2px);
  margin: auto 0 15px auto;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  &:hover {
    .create-exchange-edit-svg {
      opacity: 1;
    }
  }
}

.panel-add-img-star {
  vertical-align: top;
  color: grey;
}

.panel-add-audio {
  height: 100px;
  width: calc(100% - 2px);
  margin: auto 0 15px auto;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  &:hover {
    .create-exchange-edit-svg {
      opacity: 1;
    }
  }
}

.panel-add-audio-svg {
  width: 40px;
  fill: var(--text-light-color);

  &.success {
    fill: var(--success-color);
  }
}

.panel-class-type {
  width: 100%;
  border: 1px solid #DADCE0;
  padding: 15px;
  margin-bottom: 15px;

  &:focus {
    border: 1px solid #2A3542;
  }
}

.filter-item {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 5%;
  background-color: var(--background-color);
  border-radius: 50%;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  transition: all ease 0.2s;

  &.first {
    bottom: calc(5% + 60px);
    @media screen and (max-width: 480px) {
      bottom: 120px;
    }
  }

  &.second {
    bottom: calc(5% + 120px);
    @media screen and (max-width: 480px) {
      bottom: 180px;
    }
  }

  &.third {
    bottom: calc(5% + 180px);
    @media screen and (max-width: 480px) {
      bottom: 240px;
    }
  }

  &.hide {
    bottom: 5%;
    opacity: 0;
  }
}

.filter-item-btn {
  width: 50%;
  fill: var(--primary-color);

  &.mail {
    width: 45%;
  }

  &.main {
    width: 45%;
    fill: var(--background-color);
  }

  &.cancel {
    width: 100%;
  }
}