@import "variables";

.panel-page-container {
  padding: 90px 5%;
}

.panel-page-content {
  margin-right: 312px;
  width: calc(100% - 312px);
  display: inline-block;
  vertical-align: top;

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-right: 0;
  }
}

.panel-page-section {
  text-align: center;
}

.panel-page-section-title {
  background-color: $dark-color;
  color: $background-color;
  font-weight: bold;
  font-size: $title-font-size;
  padding: 12px 0;
}

.panel-0ff-code-scroll {
  width: 100%;
  overflow-y: visible;
  overflow-x: auto;
}

.panel-0ff-code-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $regular-font-size;
  padding: 10px 0;
  cursor: pointer;
  transition: all linear 0.2s;

  &:nth-child(odd) {
    background-color: $login-page-background-color;
  }

  &.title {
    background-color: $secondary-color;
    padding: 13px 0;
    color: white;
    font-weight: bold;

    &:hover {
      background-color: $secondary-color;
    }
  }

  &.scroll {
    @media screen and (max-width: 480px) {
      width: 120%;
    }
  }

  &.scroll-wide {
    @media screen and (max-width: 480px) {
      width: 180%;
    }
  }

  &:hover {
    background-color: $forth-color;
  }
}

.panel-0ff-code-item-small {
  width: 100px;
  text-align: center;
}

.panel-0ff-code-item {
  width: 200px;
  text-align: center;
}

.panel-0ff-code-item-big {
  width: 300px;
  text-align: center;
}

.panel-0ff-code-add {
  width: 55px;
  height: 53px;
  padding-top: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 5%;
  bottom: 5%;
  background-color: $primary-color;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  font-weight: bold;

  @media screen and (max-width: 480px) {
    bottom: 60px;
    width: 50px;
    height: 48px;
  }
}

.panel-add-off-main {
  padding: 15px;
  overflow: auto;

  @media screen and (min-width: 480px) {
    max-height: 80vh;
  }
}

.panel-add-off-input-cont {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  height: 35px;
  position: relative;

  label {
    display: inline-block;
    margin-left: 10px;
    margin-top: 3px;
  }
}

.panel-add-off-input-title {
  width: 85px;
  font-size: $regular-font-size;
  text-align: right;
  padding-top: 5px;
}

.panel-add-off-input {
  flex-grow: 1;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid $text-light-color;
  transition: all linear 0.2s;

  &:focus {
    border-bottom: 1px solid $primary-color;
  }
}

.panel-add-off-hint {
  font-size: $regular-font-size;
  color: $text-light-color;
  position: absolute;
  left: 0;
  top: 5px;
}

.panel-add-off-submit {
  background-color: $primary-color;
  color: white;
  font-size: $title-font-size;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.panel-0ff-code-usage {
  width: 30px !important;
  height: 30px;
  background-color: $third-color;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.panel-side-bar {
  position: fixed;
  right: 5%;
  top: 90px;
  width: 300px;
  border: 1px solid $dark-color;
  display: inline-block;
  vertical-align: top;

  @media screen and (max-width: 480px) {
    right: 0;
    left: 0;
    top: calc(100% - 45px);
    width: auto;
    z-index: 2;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    height: 100vh;
    background-color: white;
  }
}

.panel-side-bar-item-link {
  font-size: $title-font-size;
  text-decoration: none;
  text-align: center;

  @media screen and (max-width: 480px) {
    flex-grow: 1;
  }

  &.selected {
    .panel-side-bar-item {
      background-color: $dark-color;
      color: white;
    }
  }
}

.panel-side-bar-item {
  padding: 16px 0;
  color: $dark-color;
  background-color: $background-color;
  transition: all linear 0.2s;
}

.panel-dashboard-item {
  display: inline-block;
  width: calc(50% - 7px);
  text-align: center;
  height: 370px;
  overflow: auto;
  border: 1px solid $dark-color;
  text-decoration: none;
  color: $dark-color;
  transition: all linear 0.2s;

  &:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  }

  @media screen and (max-width: 480px) {
    width: calc(100% - 2px);
  }

  &.right {
    @media screen and (min-width: 480px) {
      margin-left: 5px;
    }
  }

  &.left {
    @media screen and (min-width: 480px) {
      margin-right: 5px;
    }
  }
}

.panel-welcome {
  text-align: center;
  color: $secondary-color;
}

.panel-side-bar-mobile-line {
  display: none;
  @media screen and (max-width: 480px) {
    display: block;
    min-width: 100%;
    background-color: white;
    padding: 20px 0;
  }
}

.panel-side-bar-line {
  width: 50px;
  height: 5px;
  background-color: $text-light-color;
  border-radius: 3px;
  margin: auto;
}