@import "variables";

.posts-list-con {
  width: 90%;
  padding: 40px 5%;
  min-height: 70vh;
}

.post-con {
  width: calc(100% - 50px);
  padding: 25px;
  background-color: #DEF2F1;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  transition: all linear 0.2s;

  &:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
    width: calc(100% - 30px);
    padding: 15px;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    @media screen and (min-width: 480px) {
      .post-circle-image-link {
        margin-right: 0;
        margin-left: 25px;
      }

      .post-likes-comment-section {
        text-align: right;
        margin-left: 0;
        margin-right: -10px;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.post-info-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .post-title {
    font-size: $menu-title-font-size;
    font-weight: bold;
    line-height: 25px;
    transition: all linear 0.1s;

    &:hover {
      color: var(--primary-color);
    }

    @media screen and (max-width: 480px) {
      font-size: $title-font-size;
    }
  }

  .post-name {
    font-size: $title-font-size;
    font-weight: bold;
    color: var(--secondary-color);
    margin-top: 10px;
    line-height: 25px;

    @media screen and (max-width: 480px) {
      font-size: $regular-font-size;
    }
  }

  .post-bold-description {
    text-align: justify;
    text-justify: inter-word;
    color: var(--bold-description-color);
    font-size: $title-font-size;
    line-height: 27px;
    margin: 15px 0;
  }

  .post-continue {
    font-size: $title-font-size;
    font-weight: bold;
    color: var(--secondary-color);
    transition: all linear 0.2s;

    &.desktop {
      margin-bottom: 10px;

      &:hover {
        color: var(--primary-color);
      }

      @media screen and (max-width: 480px) {
        display: none;
      }
    }

    &.mobile {
      display: none;
      @media screen and (max-width: 480px) {
        display: block;
        background-color: var(--primary-color);
        color: white;
        text-align: center;
        padding: 10px 0;
        margin-top: 10px;
      }
    }
  }

  .post-likes-comment-section {
    text-align: left;
    color: var(--post-like-comment-color);
    font-size: $regular-font-size;
    margin-left: -10px;

    @media screen and (max-width: 480px) {
      display: flex;
      justify-content: space-between;
      width: calc(100% + 20px);
      margin-left: 0;
      margin-right: -10px;
    }
  }
}

.post-circle-image-link {
  margin-right: 25px;
  margin-top: auto;
  margin-bottom: auto;

  @media screen and (max-width: 480px) {
    margin-bottom: 25px;
    margin-right: 0;
    order: -1;
  }
}

.post-circle-image {
  height: 200px;
  width: 200px;
  min-width: 200px;
  object-fit: contain;
  background-color: white;
  border-radius: 50%;
}

.post-like-count-cont {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  height: 20px;
  border-radius: 35px;

  &.not-cursor {
    cursor: default;
  }

  &.like {
    order: 1;
  }

  &.comment {
    order: 3;
  }

  @media screen and (max-width: 480px) {
    height: 25px;
  }

  &.copy {
    border: 1px solid var(--post-like-comment-color);
    margin: 0 auto 0 10px;
    order: 4;

    @media screen and (max-width: 480px) {
      margin: 0 10px;
      order: 2;
    }
  }
}

.post-like-count {
  vertical-align: top;
  display: inline-block;
  margin-left: 5px;
  transition: all linear 0.2s;

  &.liked {
    color: var(--primary-color);
  }

  @media screen and (max-width: 480px) {
    margin-top: 5px;
    margin-left: 10px;
  }
}

.post-like-svg {
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  fill: var(--post-like-comment-color);
  transition: all linear 0.2s;

  @media screen and (max-width: 480px) {
    width: 25px;
    height: 25px;
  }

  &.liked {
    fill: var(--primary-color);
  }
}

.post-comment-svg {
  vertical-align: top;
  width: 20px;
  height: 20px;
  fill: var(--post-like-comment-color);
  stroke: var(--post-like-comment-color);

  @media screen and (max-width: 480px) {
    width: 25px;
    height: 25px;
  }
}

.pavilion-item-page-cont {
  background-color: var(--very-light-color);
  margin: 90px 5% 0 5%;
  min-height: 100vh;

  @media screen and (max-width: 480px) {
    background-color: initial;
  }
}

.pavilion-item-title {
  margin: 20px 10%;
  font-size: $home-title-font-size;

  @media screen and (max-width: 480px) {
    margin: 20px 0;
    font-size: $menu-title-font-size;
  }
}

.pavilion-item-audio-cont {
  width: 80%;
  margin-right: 10%;
  margin-bottom: 30px;
  margin-top: 25px;

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-right: 0;
  }
}

.pavilion-item-audio-title {
  font-size: $home-regular-font-size;
  font-weight: bold;
  margin-bottom: 10px;
}

.pavilion-item-audio {
  display: block;
  width: 100%;
}

.pavilion-item-pic-cont {
  height: 400px;
  width: 80%;
  margin-right: 10%;
  background-image: url("../Media/Images/PavilionBack.png");
  background-repeat: repeat;
  background-size: 300px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-right: 0;
    flex-wrap: wrap;
    height: auto;
  }
}

.pavilion-item-pic-detail {
  flex-grow: 1;
  margin-right: 25px;

  @media screen and (max-width: 480px) {
    margin-right: 0;
  }
}

.pavilion-item-pic-detail-row {
  text-align: right;
  @media screen and (max-width: 480px) {
    text-align: center;
  }
}

.pavilion-item-pic-detail-name {
  font-size: $enormous-title-font-size;
  margin: 10px 0;
  font-weight: bold;

  @media screen and (max-width: 480px) {
    font-size: $huge-title-font-size;
  }
}

.pavilion-item-pic-detail-desc {
  font-size: $huge-title-font-size;
  margin: 10px 0;
  font-weight: bold;

  @media screen and (max-width: 480px) {
    font-size: $big-title-font-size;
  }
}

.pavilion-item-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: contain;
  background-color: white;
  margin-left: 25px;

  @media screen and (max-width: 480px) {
    margin: 15px auto 25px auto;
  }
}

.pavilion-item-bold-desc {
  font-size: $home-regular-font-size;
  margin: 20px 10% 0 10%;
  line-height: 30px;
  font-weight: bold;
  background-color: #F3F3F3;
  padding: 30px;
  border-right: 4px solid var(--text-light-color);
  text-align: justify;
  white-space: pre-wrap;
  word-break: break-word;

  @media screen and (max-width: 480px) {
    margin: 20px 0 0 0;
  }
}

.pavilion-item-desc {
  font-size: $title-font-size;
  margin: 15px 0;
  line-height: 28px;
  text-align: justify;
  padding: 0 10%;
  color: var(--post-like-comment-color);
  white-space: pre-wrap;
  word-break: break-word;

  @media screen and (max-width: 480px) {
    padding: 0;
  }
}

.pavilion-item-footer {
  color: var(--post-like-comment-color);
  width: calc(80% + 20px);
  padding: 0 10%;
  margin-right: -10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media screen and (max-width: 480px) {
    justify-content: space-between;
    width: calc(100% + 20px);
    padding: 0;
  }
}

.pavilion-item-like {
  display: inline-block;
  margin-right: 7px;
  line-height: normal !important;

  &.mr-left {
    margin-left: 7px;
    margin-right: 0;
  }

  font-size: $regular-font-size;
  vertical-align: top;

  &.liked {
    color: var(--primary-color);
  }

  @media screen and (max-width: 480px) {
    margin-top: 2px;
    &.mr-left {
      margin-top: 2px;
    }
  }
}

.pavilion-item-comments-section {
  background-color: var(--login-page-background-color);
  margin: 0 10% 20px 10%;
  padding: 15px;

  @media screen and (max-width: 480px) {
    margin: 0 0 20px 0;
  }

  &.file {
    margin: 40px 0 20px 0;
    padding: 20px;
    background-color: var(--very-light-color);
    @media screen and (max-width: 480px) {
      width: calc(100%);
      margin: 20px -20px 0 0;
    }
  }
}

.pavilion-item-comments-title {
  font-size: $title-font-size;
  font-weight: bold;
  margin-top: 15px;
}

.pavilion-comment {
  padding: 15px 15px 5px 15px;
  background-color: white;
  margin-top: 15px;
}

.pavilion-comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pavilion-comment-header-profile {
  display: flex;
  align-items: center;
  height: 100%;
}

.pavilion-comment-profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 10px;
  fill: var(--secondary-color);

  @media screen and (max-width: 480px) {
    width: 40px;
    height: 40px;
  }
}

.pavilion-comment-sender {
  font-size: $title-font-size;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 6px;
}

.pavilion-comment-uni {
  font-size: $really-small-font;
}

.pavilion-comment-date {
  font-size: $small-font-size;
}

.pavilion-comment-replied {
  color: var(--secondary-color);
}

.pavilion-comment-desc {
  font-size: $regular-font-size;
  line-height: 25px;
  text-align: justify;
  text-align-last: right;
  margin: 10px 55px 0 0;
  white-space: pre-wrap;
  word-break: break-word;

  @media screen and (max-width: 480px) {
    margin: 10px 0 0 0;
  }
}

.pavilion-comment-create {
  width: calc(100% - 32px);
  padding: 15px;
  font-size: $title-font-size;
  resize: none;
  display: block;
  border: 1px solid white;
  transition: all linear 0.2s;

  @media screen and (max-width: 480px) {
    &.focused {
      position: fixed;
      z-index: 3;
      top: 0;
      right: 0;
      bottom: 120px;
    }
  }
}

.pavilion-comment-create-btn {
  text-align: left;
}

.pavilion-comment-create-material {
  font-size: $title-font-size;
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  margin-top: 15px;
  width: 90px;
  height: 40px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.reply {
    font-size: $really-small-font;
    width: 80px;
    height: 30px;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 480px) {
    &.focused {
      position: fixed;
      height: 60px;
      z-index: 3;
      right: 0;
      left: 0;
      width: 100%;
      bottom: 0;
    }
  }
}

.pavilion-comment-create-title {
  font-size: $title-font-size;
  font-weight: bold;
  margin-bottom: 15px;
}

.pavilion-comment-delete {
  vertical-align: top;
  font-size: $small-font-size;
  color: var(--error-color);
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  height: 20px;
  border-radius: 35px;

  @media screen and (max-width: 480px) {
    order: 2;
  }
}

.pavilion-comment-emoji-cont {
  background-color: white;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 2px;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.pavilion-comment-emoji-mobile {
  display: none;
  @media screen and (max-width: 480px) {
    display: flex;
    position: fixed;
    z-index: 3;
    right: 0;
    left: 0;
    bottom: 60px;
    height: 60px;
    background-color: var(--login-page-background-color);
    .material {
      flex-grow: 1;
      text-align: center;
      padding: 14px 0;
      font-size: 22px;
    }
  }
}

.pavilion-comment-like-cont {
  text-align: left;
  margin-left: -10px;

  @media screen and (max-width: 480px) {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: calc(100% + 20px);
    margin-right: -10px;
  }
}

.pavilion-comment-like {
  display: inline-block;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  height: 20px;
  border-radius: 35px;

  @media screen and (max-width: 480px) {
    height: 30px;
    &.mr-left {
      height: 20px;
      order: 3;
    }
  }
}

.pavilion-comment-like-svg {
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  fill: var(--post-like-comment-color);
  transition: all linear 0.2s;

  &.liked {
    fill: var(--primary-color);
  }
}

.pavilion-comment-reply {
  display: inline-block;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  height: 20px;
  border-radius: 35px;
  font-size: $small-font-size;
  font-weight: bold;
  color: var(--secondary-color);
  margin: 0 10px;
  transition: all linear 0.2s;

  &.focus {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media screen and (max-width: 480px) {
    order: 1;
    margin: 0;
  }
}

.pavilion-comment-reply-area {
  padding: 10px;
  width: calc(100% - 77px);
  background-color: white;
  border: 1px solid var(--border-color);
  resize: none;
  display: block;
  margin: 10px 55px 0 0;
  font-size: $regular-font-size;
  transition: all linear 0.2s;

  @media screen and (max-width: 480px) {
    margin: 10px 0 0 0;
    width: calc(100% - 22px);
  }

  &:focus {
    border: 1px solid var(--primary-color);
  }
}

.pavilion-comment-child {
  //border: 1px solid var(--border-color);
  width: calc(100% - 40px);
  border-right: 1px solid var(--primary-color);
  margin: 10px 55px 10px 0;
  @media screen and (max-width: 480px) {
    margin: 10px 0 10px 0;
    width: calc(100% + 15px);
    border: none;
    border-right: 1px solid var(--primary-color);
  }
}

.pavilion-comment-child-title {
  padding: 15px 15px 0 0;
  font-size: $regular-font-size;
  font-weight: bold;
}

.pavilion-comment-not-found {
  text-align: right;
  padding: 35px 0 0 0;
  font-size: $title-font-size;
}

.pavilion-comment-show-replies {
  font-size: $regular-font-size;
  margin-right: 45px;
  margin-bottom: 10px;
  padding: 10px;
  color: var(--secondary-color);
  cursor: pointer;

  @media screen and (max-width: 480px) {
    margin-right: -10px;
  }
}