@import "variables";

.pavilion-mic {
  position: absolute;
  top: calc(10vh - 81px);
  left: 20%;
  width: 300px;
  transform: rotate(20deg);
  object-fit: cover;

  @media screen and (max-width: 480px) {
    margin: 15px 0 0 0;
    width: 150px;
    left: 25%;
    top: calc(40vh - 81px);
  }
}

.posts-list-con {
  width: 90%;
  padding: 40px 5%;
  min-height: 70vh;
}

.post-con {
  width: calc(100% - 50px);
  padding: 25px;
  background-color: #DEF2F1;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-decoration: none;

  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    @media screen and (min-width: 480px) {
      .post-circle-image {
        margin-right: 0;
        margin-left: 25px;
      }

      .post-likes-comment-section {
        text-align: right;
        margin-left: 0;
        margin-right: -10px;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.post-info-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .post-title {
    font-size: $menu-title-font-size;
    font-weight: bold;
    color: $dark-color;
  }

  .post-bold-description {
    text-align: justify;
    text-justify: inter-word;
    color: $bold-description-color;
    font-size: $title-font-size;
    line-height: 27px;
    margin: 15px 0;
  }

  .post-likes-comment-section {
    text-align: left;
    color: $post-like-comment-color;
    font-size: $regular-font-size;
    margin-left: -10px;
  }
}

.post-circle-image {
  height: 200px;
  width: 200px;
  min-width: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 25px;
  margin-top: auto;
  margin-bottom: auto;

  @media screen and (max-width: 480px) {
    margin-bottom: 25px;
    margin-right: 0;
    order: -1;
  }
}

.post-like-count-cont {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  height: 20px;
  border-radius: 35px;

  &.like {
    order: 1;
  }

  &.comment {
    order: 3;
  }

  @media screen and (max-width: 480px) {
    height: 30px;
  }

  &.copy {
    border: 1px solid $post-like-comment-color;
    margin: 0 auto 0 10px;
    order: 4;

    @media screen and (max-width: 480px) {
      margin: 0 15px;
      order: 2;
    }
  }
}

.post-like-count {
  vertical-align: top;
  display: inline-block;
  margin-left: 5px;
  transition: all linear 0.2s;

  &.liked {
    color: $primary-color;
  }

  @media screen and (max-width: 480px) {
    margin-top: 5px;
    margin-left: 10px;
  }
}

.post-like-svg {
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-top: -2px;
  fill: $post-like-comment-color;
  transition: all linear 0.2s;

  @media screen and (max-width: 480px) {
    width: 30px;
    height: 30px;
  }

  &.liked {
    fill: $primary-color;
  }
}

.post-comment-svg {
  vertical-align: top;
  width: 20px;
  height: 20px;
  fill: $post-like-comment-color;
  stroke: $post-like-comment-color;

  @media screen and (max-width: 480px) {
    width: 30px;
    height: 30px;
  }
}

.pavilion-item-page-cont {
  background-color: $very-light-color;
  margin: 90px 5% 0 5%;
  min-height: 100vh;

  @media screen and (max-width: 480px) {
    background-color: initial;
  }
}

.pavilion-item-title {
  margin: 20px 10%;
  font-size: $home-title-font-size;

  @media screen and (max-width: 480px) {
    margin: 20px 0;
  }
}

.pavilion-item-pic {
  display: block;
  width: 80%;
  margin-right: 10%;
  height: 500px;
  object-fit: cover;
  object-position: top;

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-right: 0;
  }
}

.pavilion-item-bold-desc {
  font-size: $home-regular-font-size;
  margin-top: 20px;
  line-height: 30px;
  font-weight: bold;
  background-color: #F3F3F3;
  padding: 30px 10%;
  border-right: 4px solid $text-light-color;
  text-align: justify;
}

.pavilion-item-desc {
  font-size: $title-font-size;
  margin: 20px 0;
  line-height: 28px;
  text-align: justify;
  padding: 0 10%;
  color: $post-like-comment-color;

  @media screen and (max-width: 480px) {
    padding: 0;
  }
}

.pavilion-item-footer {
  color: $post-like-comment-color;
  width: calc(80% + 20px);
  padding: 0 10%;
  margin-right: -10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;

  @media screen and (max-width: 480px) {
    justify-content: space-between;
    width: calc(100% + 20px);
    padding: 0;
  }
}

.pavilion-item-like {
  display: inline-block;
  margin-right: 7px;
  font-size: $regular-font-size;
  vertical-align: top;

  &.liked {
    color: $primary-color;
  }

  @media screen and (max-width: 480px) {
    margin-top: 5px;
  }
}