@import "variables";

.profile-container {
  padding: 110px calc(5% + 270px) 0 5%;
  display: flex;
}

.profile-right-menus {
  width: 270px;
  background-color: $background-color;
  position: fixed;
  right: 5%;
}

.profile-main-right-menu {
  width: 100%;
  border: 1px solid $border-color;
}

.profile-main-right-menu-element {
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: $dark-color;
  background-color: $background-color;
  padding: 0 17px;
  transition-duration: $long-animation-duration;
}

.profile-main-right-menu-element-selected {
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: $background-color;
  background-color: $dark-color;
  padding: 0 17px;
  transition-duration: $long-animation-duration;

  .dashboard-svg {
    fill: $background-color;
    transition-duration: $long-animation-duration;
  }
}

.dashboard-svg {
  fill: $dark-color;
  width: 38px;
  height: 38px;
  margin-left: 17px;
  transition-duration: $long-animation-duration;
}

.profile-content {
  flex-grow: 1;
  background-color: $very-light-color;
  margin: 0 2px;
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.profile-introduction {
  width: 100%;
  border: 1px solid $border-color;
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.profile-introduction-slider {
  margin-top: 20px;
  width: 370px;
  position: relative;
  text-align: center;
  flex-shrink: 0;
}

.profile-introduction-content {
  flex-grow: 1;
}

.profile-introduction-title {
  height: 60px;
  font-size: $enormous-title-font-size;
  padding: 20px 50px;
}

.profile-introduction-description {
  font-size: $home-regular-font-size;
  padding: 0 50px;

  p {
    text-align: justify;
  }
}

.profile-info-description {
  font-size: $home-title-font-size;
  padding: 0 50px;

  input {
    border-bottom: 1px solid $border-color;
    background-color: transparent;
    font-size: $menu-title-font-size;
    transition-duration: $short-animation-duration;
    width: 350px;
    margin-bottom: 15px;

    &:focus {
      border-bottom: 1px solid $primary-color;
      transition-duration: $short-animation-duration;
    }
  }

  p {
    text-align: justify;
    margin: 7px auto;
  }
}

.profile-introduction-links {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 25px 25px 25px;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  padding-bottom: 10px;

  .link {
    align-self: center;
    text-decoration: none;
    color: $primary-color;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.profile-left-menus {
  width: 270px;
  background-color: $background-color;
}

.profile-left-menus-title {
  background-color: $secondary-color;
  color: $background-color;
  font-size: $menu-title-font-size;
  padding: 4px 25px;
}

.profile-left-menus-contents {
  background-color: $background-color;
  font-size: $regular-font-size;
  padding: 50px 25px;
  border-bottom: 1px solid $primary-color;
  text-align: center;

  &:last-child {
    border-bottom: none;
  }
}

.profile-movies-left-menu {
  width: 100%;
  border: 1px solid $border-color;
  margin-bottom: 30px;
}

.profile-forum-left-menu {
  width: 100%;
  border: 1px solid $border-color;
}

.profile-info-submit-buttons-container {
  display: flex;
  justify-content: flex-start;
}

.profile-info-submit-button {
  width: 165px;
  padding: 5px 0;
  background-color: $primary-color;
  color: white;
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
  margin-left: 20px;

  &.loading {
    cursor: not-allowed;
    background-color: $secondary-color;
  }
}

.profile-info-submit-success-text {
  font-size: $home-regular-font-size;
  color: $success-color;
}

.profile-info-submit-error-text {
  font-size: $home-regular-font-size;
  color: $error-color;
}

.change-password-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: white;
  width: 430px;
  border: 1px solid $text-light-color;
  text-align: center;
  z-index: 5;
  opacity: 1;
  animation: show-modal linear 0.2s;
  transform: translate3d(-50%, -50%, 0) scale(1);
  transition: all linear 0.2s;
  border-radius: 3px;
}