@import "variables";

.profile-container {
  padding: 100px calc(5% + 270px) 50px calc(5% + 270px);
  display: flex;
  width: calc(90% - 540px);
  min-height: 75vh;

  @media screen and (max-width: 480px) {
    padding: 90px 5% 0 5%;
    width: 90%;
    flex-wrap: wrap;
  }
}

.profile-right-menus {
  width: 268px;
  background-color: var(--background-color);
  position: fixed;
  right: 5%;
  border: 1px solid var(--border-color);

  @media screen and (max-width: 480px) {
    width: 100%;
    top: initial !important;
    bottom: 0;
    display: flex;
    z-index: 1;
    right: 0;
    left: 0;
    border: none;
    border-top: 1px solid var(--primary-color);
  }
}

.profile-main-right-menu-element {
  height: 70px;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  align-items: center;
  cursor: pointer;
  font-size: $menu-title-font-size;
  background-color: var(--background-color);
  padding: 0 17px;
  transition-duration: $long-animation-duration;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    font-size: 9px;
    justify-content: center;
    align-items: center;
    height: 60px;
  }

  &.selected {
    color: var(--background-color);
    background-color: var(--dark-color);

    .dashboard-svg {
      fill: var(--background-color);
      transition-duration: $long-animation-duration;
    }
  }
}

.dashboard-svg {
  fill: var(--dark-color);
  width: 38px;
  height: 38px;
  margin-left: 17px;
  transition-duration: $long-animation-duration;

  @media screen and (max-width: 480px) {
    margin-left: 0;
    width: 25px;
  }
}

.profile-content {
  flex-grow: 1;
  margin: 0 2px;
  padding: 0 20px 20px 20px;
  width: calc(100% - 40px);

  @media screen and (max-width: 480px) {
    padding: 0;
    width: 100%;
    margin: 10px 0 70px 0;
  }
}

.profile-introduction {
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  background-color: white;

  @media screen and (max-width: 1510px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (max-width: 480px) {
    justify-content: space-between;
  }
}

.profile-introduction-slider {
  margin-top: 20px;
  width: 370px;
  height: 390px;
  position: relative;
  text-align: center;
  flex-shrink: 0;

  @media screen and (max-width: 480px) {
    height: 400px;
    width: 90%;
    margin-right: 5%;
  }
}

.profile-introduction-content {
  width: 100%;
  flex-grow: 1;
}

.profile-introduction-title {
  font-size: $home-title-font-size;
  padding: 20px 50px;
  width: calc(100% - 100px);

  @media screen and (max-width: 480px) {
    font-size: $big-title-font-size;
    padding: 20px;
    width: calc(100% - 40px);
  }
}

.profile-introduction-description {
  font-size: $home-regular-font-size;
  padding: 0 50px;
  width: calc(100% - 100px);

  @media screen and (max-width: 480px) {
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  p {
    text-align: justify;
  }
}

.profile-info-description {
  font-size: $home-title-font-size;
  padding: 10px 50px 0 50px;
  width: calc(100% - 100px);
  text-align: center;

  @media screen and (min-width: 1350px) {
    .error {
      width: 345px;
      padding-right: 150px;
      margin: auto;
    }
  }

  @media screen and (max-width: 1350px) {
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  span {
    color: var(--error-color);
  }

  input {
    border-bottom: 1px solid var(--border-color);
    background-color: transparent;
    font-size: $title-font-size;
    transition-duration: $short-animation-duration;
    width: 345px;

    @media screen and (max-width: 1350px) {
      width: 100%;
    }

    &:focus {
      border-bottom: 1px solid var(--primary-color);
      transition-duration: $short-animation-duration;
    }
  }

  p {
    width: 150px;
    text-align: right;
    font-size: $home-regular-font-size;
    display: inline-block;

    @media screen and (max-width: 1350px) {
      margin: 25px 0 5px 0;
      width: 100%;
    }
  }
}

.profile-introduction-links {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 25px 25px 25px;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  padding-bottom: 10px;

  @media screen and (max-width: 480px) {
    grid-template-columns: 130px 70px;
  }

  .link {
    align-self: center;
    color: var(--primary-color);
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.profile-left-menus {
  width: 268px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  position: fixed;
  left: 5%;
  max-height: calc(100vh - 120px);
  overflow: auto;

  @media screen and (max-width: 480px) {
    display: none;
  }
}

.profile-left-menus-subject {
  padding: 6px 0;
  background-color: var(--dark-color);
  color: var(--background-color);
  font-size: $home-regular-font-size;
  text-align: center;
}

.profile-left-menus-title {
  background-color: var(--secondary-color);
  color: var(--background-color);
  font-size: $title-font-size;
  padding: 4px 0;
  text-align: center;
}

.profile-left-menus-contents {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  font-size: $regular-font-size;
  border-bottom: 1px solid var(--primary-color);
  text-align: center;

  &:last-child {
    border-bottom: none;
  }
}

.profile-left-menus-contents-img {
  width: 90px;
  height: 90px;
  margin: 10px 0 10px 10px;
  border-radius: 50%;
  object-fit: contain;
  background-color: var(--login-page-background-color);

  &.pack {
    border-radius: 0;
    background-color: transparent;
  }
}

.profile-left-menus-contents-desc {
  flex-grow: 1;
  max-width: calc(100% - 120px);
  display: inline-block;
  text-align: right;
  padding: 10px;
}

.profile-left-menus-contents-name {
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.profile-left-menus-contents-detail {
  color: var(--primary-color);
  margin-bottom: 5px;
}

.profile-left-menus-contents-text {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
  text-overflow: ellipsis;
}

.profile-info-submit-buttons-container {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
  }
}

.profile-info-submit-button {
  width: 240px;
  padding: 5px 0;
  background-color: var(--primary-color);
  color: white;
  font-size: $home-regular-font-size;
  margin-top: 25px;
  cursor: pointer;
  text-align: center;
  margin-left: 20px;

  &:last-child {
    margin-left: 0;
  }

  @media screen and (max-width: 480px) {
    width: calc(50% - 10px);

    &:last-child {
      width: calc(50% - 10px);
      margin-left: 0;
    }
  }

  &.loading {
    cursor: not-allowed;
    background-color: var(--secondary-color);
  }
}

.profile-info-submit-success-text {
  font-size: $home-regular-font-size;
  color: var(--success-color);
  white-space: nowrap;
}

.profile-info-submit-error-text {
  font-size: $home-regular-font-size;
  color: var(--error-color);
}

.profile-my-books {
  background-color: var(--secondary-color);
  padding: 10px 0;
  text-align: center;
  font-size: $title-font-size;
  color: white;
  font-weight: bold;
  margin: 15px 0;
}