@import "variables";

.video-page-cont {
  padding: 90px 5%;
}

.video-page-aside-videos {
  direction: ltr;
}

.video-page-aside-videos-title {
  font-weight: bold;
  border-top: 1px solid var(--transparent-primary);
  padding: 5px;
  color: var(--secondary-color);
}

.video-page-aside-videos-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px 0 5px 10px;
  font-size: $regular-font-size;
  min-height: 25px;

  &.selected {
    color: var(--primary-color);
    background-color: var(--transparent-third);
  }
}

.video-page-aside-videos-free {
  vertical-align: top;
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  min-width: 23px;
  margin-left: 10px;
  width: 23px;
  height: 23px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;

  &.svg {
    border-color: transparent;

    svg {
      width: 17px;
      fill: var(--success-color);
    }

    &:hover {
      .download-dialog-cont {
        display: block;
      }
    }
  }

  &.videos {
    margin: 5px 7px 5px 0;
  }
}

.video-page-aside-title {
  font-weight: bold;
  padding-bottom: 5px;
}

.video-page-aside {
  display: inline-block;
  direction: ltr;
  width: calc(27% - 2px);
  padding-right: 1%;
  vertical-align: top;
  font-size: 13px;

  @media screen and (max-width: 480px) {
    width: 100%;
    padding-right: 0;
    margin-top: 15px;
  }
}

.video-page-video-container {
  direction: ltr;
  display: inline-block;
  width: calc(72% - 2px);

  @media screen and (min-width: 480px) {
    padding-top: 0 !important;
  }

  @media screen and (max-width: 480px) {
    width: calc(100% - 2px)
  }

  &.pre {
    border: 1px solid var(--secondary-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-size: $title-font-size;
    @media screen and (max-width: 480px) {
      height: 200px;
    }
  }
}

.video-page-video {
  border: 1px solid var(--secondary-color);
  width: calc(100% - 2px);
  display: block;
  margin-left: 0;

  @media screen and (min-width: 480px) {
    width: calc(100% - 2px) !important;
    position: static !important;
    border: 1px solid var(--secondary-color) !important;
    margin-left: 0 !important;
  }

  @media screen and (max-width: 480px) {
    z-index: 1;
    top: 80px;
    transition: all linear 0.1s;
  }
}

.video-page-video-nav {
  margin-top: 8px;
  width: 100%;
  color: var(--post-like-comment-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  direction: rtl;
  align-items: center;

  @media screen and (max-width: 480px) {
    justify-content: space-between;
    width: calc(100% + 10px);
    margin-top: 15px;
  }
}

.video-page-video-title {
  font-size: $title-font-size;
  font-weight: bold;
  flex-grow: 1;
  order: 4;
  text-align: left;

  @media screen and (max-width: 480px) {
    order: 3;
    max-width: calc(100% - 140px);
  }
}

.video-page-video-not-login {
  text-align: center;
  padding-top: 15%;
}

.video-page-h1 {
  @media screen and (min-width: 480px) {
    width: 70%;
  }

  text-align: center;
  font-size: $menu-title-font-size;
  margin: 5px 0 15px 0;
}

.video-page-loading-dark-text {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.video-page-loading-dark {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 0.2s;

  &.show {
    z-index: 3;
    opacity: 1;
  }
}

.video-page-document-cont {
  width: calc(100% + 20px);
  margin-left: -10px;
}

.video-page-document {
  width: 150px;
  height: 170px;
  padding: 10px;
  background-color: var(--login-page-background-color);
  vertical-align: top;
  margin: 10px;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 480px) {
    width: calc(50% - 40px);
  }
}

.video-page-document-desc {
  font-size: $regular-font-size;
  font-weight: bold;
  direction: rtl;
  margin-top: 15px;
  background-color: var(--background-color);
  padding: 5px;
}

.video-page-document-img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
}

.video-page-document-svg {
  width: 70px;
  height: 70px;
  padding: 15px 0;
  object-fit: contain;
}

.download-offline-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--login-page-background-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $regular-font-size;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all linear 0.2s;
  animation: comes-in ease 0.2s;

  &.download {
    margin-bottom: 10px;
    font-weight: bold;
    background-color: var(--primary-color);
    color: white;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: 1px solid white;
    animation: scale ease 0.2s;

    &.scale-down {
      animation: scale-down ease-out 1s;
      transform: scale(0);
      height: 0;

      &:after {
        content: "";
      }
    }

    &:after {
      content: " % ";
    }
  }

  &:hover {
    + .download-dialog-cont {
      display: block;
    }
  }
}

.download-offline-tick {
  fill: white;
  width: 20px;
  animation: scale ease-in 0.2s;
}

.download-offline-cont {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.download-dialog-cont {
  display: none;
}

.download-dialog {
  white-space: nowrap;
  position: absolute;
  top: -31px;
  transform: translateX(-50%);
  font-size: 10px;
  background-color: var(--secondary-color);
  padding: 5px 8px;
  left: 50%;
  z-index: 2;
  color: whitesmoke;
  border-radius: 4px;

  &.offline {
    top: 5px;
    left: auto;
    right: 5px;
  }
}

.download-dialog-arrow {
  transform: rotate(180deg) translateX(50%);
  color: var(--secondary-color);
  position: absolute;
  top: -20px;
  left: 50%;

  &.offline {
    top: 8px;
    left: auto;
    right: 30px;
    transform: rotate(90deg) translateX(50%);
  }
}