@import "variables";

.statistics-page-not-show {
  padding: 100px 5% 0 5%;
  text-align: center;
}

.statistics-page-container {
  padding: 90px calc(5% - 10px) 0 calc(5% - 10px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.statistics-page-btn {
  padding: 15px;
  flex-grow: 1;
  cursor: pointer;
  margin: 10px;
  background-color: $primary-color;
  color: white;
}

.statistics-page-btn-title {
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}

.statistics-page-view-item {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 10px;
  background-color: rgba(255, 255, 255, 0.2);

  &.second {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.statistics-page-view-item-child {
  min-width: 100%;
  margin-top: 10px;
}

.statistics-page-view-item-child-item-fluent {
  margin-top: 5px;
  background-color: $forth-color;

  &.second {
    background-color: $fifth-color;
  }
}

.statistics-page-view-item-child-item {
  display: flex;
  padding: 15px 20px 15px 5px;
  justify-content: space-between;
  font-size: 12px;
}