$header-size: 81px;

:root {
  --transparent-third: rgba(58, 175, 169, 0.1);
  --transparent-second: rgba(58, 175, 169, 0.4);
  --transparent-primary: rgba(58, 175, 169, 0.6);
  --third-color: #75C7C3;
  --primary-color: #3AAFA9;
  --secondary-color: #2B7A78;
  --secondary-color-hover: #2a6f6d;
  --pavilion-background-color: #FFCC44;
  --light-color: #DEF2F1;
  --success-color: #28BF49;
  --dark-color: #303030;
  --bold-description-color: #505050;
  --post-like-comment-color: #707070;
  --very-light-color: #FCFCFC;
  --background-color: #FFFFFF;
  --login-page-background-color: #DEF2F1;
  --border-color: #CDCDCD;
  --text-light-color: #878787;
  --error-color: #C62828;
}

$short-animation-duration: .1s;
$normal-animation-duration: .3s;
$long-animation-duration: .4s;
$color-animation-duration: .2s;
$scale-animation-duration: .5s;
$opacity-animation-duration: .7s;

$h2-font-size: 60px;
$big-title-font-size: 20px;
$enormous-title-font-size: 40px;
$huge-title-font-size: 30px;
$home-title-font-size: 18px;
$home-regular-font-size: 14px;
$menu-title-font-size: 15px;
$title-font-size: 13px;
$regular-font-size: 12px;
$small-font-size: 11px;
$really-small-font: 10px;
$very-small-font: 9px;
$very-fucking-small-font: 8px;