$header-size: 81px;

$short-animation-duration: .1s;
$normal-animation-duration: .3s;
$long-animation-duration: .4s;
$color-animation-duration: .2s;
$scale-animation-duration: .5s;
$opacity-animation-duration: .7s;

$h2-font-size: 60px;
$big-title-font-size: 20px;
$enormous-title-font-size: 40px;
$huge-title-font-size: 30px;
$home-title-font-size: 18px;
$home-regular-font-size: 14px;
$menu-title-font-size: 15px;
$title-font-size: 13px;
$regular-font-size: 12px;
$small-font-size: 11px;
$really-small-font: 10px;
$very-small-font: 9px;
$very-fucking-small-font: 7px;