$primary-color: #3AAFA9;
$secondary-color: #2B7A78;
$success-color: #28bf49;
$dark-color: #17252A;
$almost-dark-color: #353535;
$very-light-color: #fcfcfc;
$background-color: #fff;
$login-page-background-color: #DEF2F1;
$border-color: #cdcdcd;
$text-light-color: #878787;
$error-color: #c62828;

$short-animation-duration: .1s;
$normal-animation-duration: .3s;
$long-animation-duration: .4s;
$color-animation-duration: .2s;
$scale-animation-duration: .5s;
$opacity-animation-duration: .7s;

$big-title-font-size: 20px;
$enormous-title-font-size: 40px;

$home-title-font-size: 17px;
$home-regular-font-size: 14px;

$menu-title-font-size: 15px;
$title-font-size: 13px;
$regular-font-size: 12px;
$small-font-size: 11px;
