@import "variables";

.video-page-desc {
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid black;
  font-size: 60px;
  color: $secondary-color;
  margin-bottom: 20px;

  @media screen and (max-width: 650px) {
    font-size: 40px;
    color: white;
    border-bottom: 1px solid white;
  }
}

.video-page-text {
  font-size: 20px;
  text-align: justify;
  text-align-last: right;
  width: 100%;
  line-height: 40px;

  @media screen and (max-width: 650px) {
    font-size: 14px;
    color: whitesmoke;
  }
}

.video-packs-page-cont {
  padding: 0 5%;

  min-height: 70vh;
}

.company-item-cont {
  padding: 15px;
  text-align: center;
  margin: 50px 0;

  @media screen and (max-width: 480px) {
    margin: 20px 0;
  }

  &:nth-child(odd) {
    background-color: $login-page-background-color;

    .video-pack-item {
      background-color: white;
    }
  }

  &:nth-child(even) {
    background-color: $third-color;

    .video-pack-item {
      background-color: $login-page-background-color;
    }
  }
}

.company-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $title-font-size;
  font-weight: bold;
}

.company-item-left-side {
  display: inline-flex;
  align-items: center;
}

.company-item-english {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.company-item-img {
  width: 100px;
  margin-right: 15px;
}

.company-item-desc {
  margin-top: 10px;
  font-size: $title-font-size;
  text-align: justify;
  padding: 10px 0;
  line-height: 25px;
}

.video-pack-item {
  display: inline-block;
  width: 300px;
  text-align: center;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all linear 0.2s;

  @media screen and (min-width: 480px) {
    &:hover {
      box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.2);
    }
  }

  @media screen and (max-width: 480px) {
    width: 90%;
    margin: 10px 0;
  }
}

.video-pack-item-img {
  width: 80%;
  margin: auto;
  display: block;
}

.video-pack-item-title {
  margin-top: 10px;
  font-size: $title-font-size;
  font-weight: bold;
  color: $almost-dark-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-pack-item-title-text {
  flex-grow: 1;
  text-align: right;
}

.video-pack-item-title-svg {
  width: 20px;
  fill: $primary-color;
}

.video-pack-item-title-buy {
  fill: $primary-color;
  flex-grow: 1;
  min-width: 100%;
  font-size: $regular-font-size;
  color: white;
  background-color: $error-color;
  border: 1px solid $error-color;
  margin-top: 10px;
  padding: 5px 0;
  transition: all linear 0.2s;

  @media screen and (min-width: 480px) {
    &:hover {
      color: $error-color;
      background-color: whitesmoke;
    }
  }
}

.buy-loading {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  max-height: 80vh;
  overflow: hidden;
  overflow-y: auto;
  animation: show-modal linear 0.2s;

  &.profile {
    width: 605px;
    @media screen and (max-width: 480px) {
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transform: translate(0, 0);
      max-height: initial;
      background-color: white;
      animation: show-modal-small linear 0.2s;
    }
  }
}

.buy-slide-cont {
  width: 100%;
  white-space: nowrap;
}

.buy-slide {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  white-space: normal;
  min-height: 518px;
  background-color: white;
}

.buy-off-code {
  color: $primary-color;
  font-size: $title-font-size;
  text-align: right;
  position: relative;
}

.buy-off-code-amount-cont {
  height: 35px;
  margin-top: 15px;
}

.buy-off-code-amount {
  overflow: hidden;
  height: 20px;
  animation: off-code-in linear 0.2s;
}

@keyframes off-code-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.buy-off-code-pay {
  margin-top: 150px;
  color: $error-color;
  font-size: $menu-title-font-size;
}